<div class="clearfix">
	<div class="row">
		<div class="page-header">
			<h1>Orders</h1>
		</div>
	</div>
	<div class="row">
		<%= render 'order_tabs' %>

		<div class="tab-content">
			<div class="tab-pane active">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><input type="checkbox" id="order-checkall" onclick="$('.selectedChk').prop('checked', $(this).is(':checked'));$('.selectedChk').each(function() {$(this).triggerHandler('click');});"></th>
							<th>Name</th>
							<th>Total Items</th>
							<th>Agent</th>
							<th>Date</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @orders.each do |order| %>
						<tr>
							<td class="paddingless" style="width: 1px">
								<input type="checkbox" class="selectedChk" id="order-<%= order.id %>" data-id="<%= order.id %>">
							</td>
							<td><%= order.name %></td>
							<td><%= OrderItem.where("order_id = ?", order.id).count %></td>
							<td><%= order.user.email_address %></td>
							<td><%= order.order_date %></td>
							<td class="pd-cell-control">
								<button type="button" class="btn btn-link btn-xs viewOrderItems" title="Order" data-id="<%= order.id %>">
									<span class="glyphicon glyphicon-eye-open"></span>
								</button>
							</td>
							<td class="pd-cell-control hidden">
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="#">
												<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;View Order
											</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<div class="digg_pagination text-center">
					<%= will_paginate @orders %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalOrderItems" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
      			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Order Items</h4>
     		</div>
      		<div class="modal-body" id="modalBodyItems">
      		</div>
      		<div class="modal-footer">
      			<input type="hidden" name="hidden-id">
      			<button class="btn btn-primary" type="button" id="btn-save">Print & Submit</button>
      			<div class="clearfix"></div>
      		</div>
    	</div>
  	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".selectedChk").on('click', function(){
			var hasCheck = false;
			$('.selectedChk').each(function () {
				if ($(this).is(":checked"))
					hasCheck = true;
			});
			$('#order-checkall').prop('checked', hasCheck);
		});

		$(".viewOrderItems").on('click', function(){
			$("#loader-wrapper").show();

			var id = $(this).data("id");

			$.ajax({
				url: "/admin/get_order_items/" + id,
				type: "get",
				success: function(result){
					$("input[name=hidden-id]").val(id);
					$("#modalBodyItems").html(result);
					$("#modalOrderItems").modal("show");
					$("#loader-wrapper").hide();
				}
			});

			
		});

		$("#btn-save").on("click", function(){
			var id = $("input[name=hidden-id]").val();

			var itemIdArr = new Array();
			var itemPriceArr = new Array();
			var itemTotalArr = new Array();
			var itemStatus = new Array();
			var data = new Object();


			$(".order-item").each(function(){
				var id = $(this).data('id');
				itemIdArr.push(id);
				itemPriceArr.push(parseFloat($("#item-" + id + " input[name=price]").val()));
				itemTotalArr.push(parseFloat($("#total-" + id).html()));
				itemStatus.push($("#check-" + id).is(":checked") ? 1 : 2);
			});

			data.order_id = id;
			data.ids = itemIdArr.join();
			data.prices = itemPriceArr.join();
			data.item_totals = itemTotalArr.join();
			data.statuses = itemStatus.join();
			data.discount = $("#add-discount").val();
			data.discounted_amount = $("#total-discount").html();
			data.grand_total = $("#calculated-total strong").html();

			$.ajax({
				url: '/admin/orders/print_submit',
				type: 'post',
				data: { params: data },
				success: function(result){

				}
			});
		});
	});
</script>