<!DOCTYPE html>
<html>
  <head>
    <title>RPT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
	<%= yield :css_head %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/admin_header' %>
    <div class="container">
      	<%= yield %>
    </div>
  </body>
</html>
