<!DOCTYPE html>
<html>
  <head>
    <title>RPT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag 'application', 'jquery', 'data-turbolinks-track': true %>
    <%= yield :header %>
  </head>

  <body>
  	<%= render 'layouts/admin_header' %>
    <div class="container" style="margin-top: 55px;">
      	<%= yield %>
    </div>
    <div id="loader-wrapper">
		<div id="loader"></div>
	</div>
  </body>
</html>
